{%extends 'base.html'%}
{% block conteudo %}
<div class="flex w-full p-5 flex-col justify-start  ">
    <div class="mb-3 ">
    <a href="{{url('saida')}}" class="text-white font-medium hover:text-gray-600">Saída / </a>
    <a href="#" class="text-white font-medium ">Adicionar</a>
  </div>
    <div class=" w-full flex  flex-col  justify-start items-start gap-8  ">
             {{flash()}}
        <div class="w-full dark:bg-gray-900 dark:border-gray-700 rounded-lg p-3 " >
            <form action="{{url('saida/adicionar')}}" method="post" class="flex gap-5 flex-col items-start justify-center">
                 <div class="w-full">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="produto">
                        Produto
                    </label>
                      <select name="produto" id="produto" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  <option value=""></option>
    {%for pro in produtos%}
           <option value="{{pro.id}}">{{pro.nome}} - {{pro.fabricante}} - {{pro.lote}} -V:{{pro.validade}} Embalagem:{{pro.tip_embalagem}}</option>
              {%endfor%}
</select>
                </div>
                  <div class=" w-5/12">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="locais">
                        Local
                    </label>
                      <select name="locais" id="locais" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  <option value=""></option>
   {% for local in locais %}
    {% if local.id != 6 %}
        <option value="{{ local.id }}">{{ maiuscula(slug(local.nome)) }}</option>
    {% endif %}
{% endfor %}
</select>
                </div>
             
               <div class="w-5/12">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="quantidade" >
                        Quantidade
                    </label>
                    <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="quantidade" type="number" name="quantidade" placeholder="Ex: 12" min="1" required>
                    <p id="mensagem" class="text-xs font-medium text-red-500" ></p>
                </div>
               
                
                    <input class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="submit" value="Adicionar">
                    
                    
             
            </form>
        </div>
        


</div>
    </div>
{% endblock %}