{%extends 'base.html'%}
{% block conteudo %}
<div class="w-full  p-5 justify-start">
    <div class="mb-3 ">
    <nav class="flex" aria-label="Breadcrumb">
  <ul class="inline-flex items-center space-x-1 md:space-x-3">
    <li class="inline-flex items-center">
      <a href="{{url('')}}" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
        <svg class="w-3 h-3 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
        </svg>
        Início
      </a>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        <a href="{{url('produtos')}}" class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white"> 
            Produtos</a>
      </div>
    </li>
    <li aria-current="page">
      <div class="flex items-center">
        <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">Cadastrar</span>
      </div>
    </li>
  </ul></nav>
  </div>
    {{flash()}}
    <div class=" w-full flex  justify-center items-start gap-8 overflow-y-scroll " style="max-height: 90vh;">
        <div class="w-full dark:bg-gray-900 dark:border-gray-700 rounded-lg p-3" >
            <form action="{{url('produtos/produto_cadastrar')}}" method="post" class="flex gap-5 flex-wrap items-start justify-center">
                
                <div class=" w-5/12	">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="produto">
                        Produto
                    </label>
                      <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  id="produto" type="text" name="produto" placeholder="Ex: Dipirona"  required>
                </div>
                 <div class="  w-5/12	">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="fabricante">
                        Fabricante
                    </label>
                      <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  id="fabricante" type="text" name="fabricante" placeholder="Ex: Integral Médica" >
                </div>
                <div class="w-5/12">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="tipo">
                        Tipo de Insumos
                    </label>
                      <select name="tipo" id="tipo"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  <option value=""></option>
                  <option value="analgesico">Analgesico</option>
    <option value="antibiotico">Antibiotico</option>
    <option value="antitetanico">Antitetanico</option>
    <option value="anti-inflamatorios">Anti-inflamatorios</option>
    <option value="antidepressivos">Antidepressivos</option>
    <option value="antialergicos">Antialergicos</option>
    <option value="antipireticos">Antipireticos</option>
    <option value="anti-hipertensivos">Anti-hipertensivos</option>
    <option value="anticoagulantes">Anticoagulantes</option>
    <option value="antivirais">Antivirais</option>
    <option value="antifungicos">Antifungicos</option>
    <option value="diureticos">Diureticos</option>
    <option value="sedativos">Sedativos</option>
    <option value="hipnoticos">Hipnoticos</option>
    <option value="antiespasmodicos">Antiespasmodicos</option>
    <option value="broncodilatadores">Broncodilatadores</option>
    <option value="anti-histaminicos">Anti-histaminicos</option>
    <option value="antiemeticos">Antiemeticos</option>
    <option value="laxantes">Laxantes</option>
    <option value="suplementos_vitaminicos">Suplementos vitaminicos</option>
    <option value="anticoncepcionais">Anticoncepcionais</option>
    <option value="antiepilepticos">Antiepilepticos</option>
    <option value="antiparasitarios">Antiparasitarios</option>
    <option value="antiacidos">Antiacidos</option>
    <option value="antiespasmodicos_gastrointestinais">Antiespasmodicos gastrointestinais</option>
    <option value="agentes_hormonais">Agentes hormonais</option>
    <option value="agentes_citotoxicos">Agentes citotoxicos</option>
    <option value="cardiotonicos">Cardiotonicos</option>
    <option value="antifibroticos">Antifibroticos</option>
    <option value="agentes_estimulantes_da_tireoide">Agentes estimulantes da tireoide</option>
    <option value="antiarritmicos">Antiarritmicos</option>
    <option value="antiparkinsonianos">Antiparkinsonianos</option>
    <option value="agentes_anti-hemorragicos">Agentes anti-hemorragicos</option>
    <option value="agentes_anti-ulceras">Agentes anti-ulceras</option>
    <option value="antitussigenos">Antitussigenos</option>
    <option value="antimicoticos">Antimicoticos</option>
    <option value="antirretrovirais">Antirretrovirais (HIV/AIDS)</option>
    <option value="anticonvulsivantes">Anticonvulsivantes</option>
    <option value="corticosteroides">Corticosteroides</option>
    <option value="relaxantes_musculares">Relaxantes musculares</option>
    <option value="agentes_de_contraste">Agentes de contraste (exames de imagem)</option>
    <option value="antifibrinoliticos">Antifibrinoliticos</option>
    <option value="agentes_anestesicos">Agentes anestesicos</option>
    <option value="antiparasitarios_intestinais">Antiparasitarios intestinais</option>
    <option value="antipireticos_narcoticos">Antipireticos narcoticos</option>
    <option value="agentes_bloqueadores_neuromusculares">Agentes bloqueadores neuromusculares</option>
    <option value="agentes_estimulantes_do_apetite">Agentes estimulantes do apetite</option>
    <option value="agentes_antitireoidianos">Agentes antitireoidianos</option>
    <option value="antimaniacos">Antimaniacos (transtorno bipolar)</option>
    <option value="agentes_quelantes">Agentes quelantes</option>
 
</select>
                </div>
                <div class="w-5/12">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="modelo">
                        Modelo
                    </label>
                      <select name="modelo" id="modelo"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  <option value=""></option>
                  <option value="injetavel">Injetável</option>
    <option value="comprimido">Comprimido</option>
    <option value="capsula">Cápsula</option>
    <option value="gotas">Gotas</option>
    <option value="pomada">Pomada</option>
    <option value="creme">Creme</option>
    <option value="locao">Loção</option>
    <option value="supositorio">Supositório</option>
    <option value="spray">Spray</option>
    <option value="xarope">Xarope</option>
    <option value="pilula">Pílula</option>
    <option value="gel">Gel</option>
    <option value="solucao_oral">Solução oral</option>
    <option value="adesivo_transdermico">Adesivo transdérmico</option>
    <option value="suspensao">Suspensão</option>
    <option value="po_para_reconstituicao">Pó para reconstituição</option>
    <option value="aerossol">Aerossol</option>
    <option value="colirio">Colírio</option>
    <option value="pastilha">Pastilha</option>
    <option value="enema">Enema</option>
 
</select>
                </div>
               
                <div class="w-5/12">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="embalagem">
                        Tipo Embalagem
                    </label>
                      <select name="embalagem" id="embalagem" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  <option value=""></option>
                  <option value="Caixa" >Caixa</option>
                  <option value="Frasco" >Frasco</option>
                  <option value="Pacote">Pacote</option>
 
</select>
                </div>
                <div class=" w-5/12  	">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="unidade_embalagem" >
                        Unidade(s) Embalagem
                    </label>
                    <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="unidade_embalagem" type="number" name="unidade_embalagem" placeholder="Ex: 12" min="1"  required>
                </div>
                 <div class=" w-5/12">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="lote">
                        Lote
                    </label>
                      <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  id="lote" type="text" name="lote" placeholder="Ex: Dipirona"  required>
                </div>
                 <div class=" w-5/12	">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="fornecedor">
                        Fornecedor
                    </label>
                      <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  id="fornecedor" type="text" name="fornecedor" placeholder="Ex: Dipirona"  required>
                </div>
                 <div class=" w-5/12	">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="validade">
                        Validade
                    </label>
                     <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  id="validade" type="date" name="validade"  required>
                </div>
                <div class=" w-5/12 	">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="quantidade" >
                        Quantidade
                    </label>
                    <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="quantidade" type="number" name="quantidade" placeholder="Ex: 12" min="1"  required>
                </div>
                
                 <div class="  w-10/12 ">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="nota">
                        Nota
                    </label>
                  
                     <textarea rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="nota" name="nota"></textarea>
                </div>

                <div  class="w-10/12">
                      <input class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm  sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="submit" value="Cadastrar">
                </div>
                  
                    
                    
             
            </form>
        </div>
        


</div>
    </div>
{% endblock %}