{%extends 'base.html'%}
{% block conteudo %}
<div class=" w-full  p-5  justify-start ">
    <a href="#" class="mb-3 text-white font-medium hover:text-gray-600">Entrada</a>
    <div class=" w-full   justify-center items-start gap-8 overflow-y-scroll overflow-x-auto  " style="max-height: 550px;">
        <div class=" w-full flex flex-col juntify-center gap-3">
            
            <div class="flex gap-3  w-full items-center justify-center"> <a href="{{url('entrada/adicionar')}}" class=" text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5  dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Adicionar</a>
                <form class="relative w-full" action="{{url('buscar')}}" method="post">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
        </div>
        <input type="search" id="pesquisa" name="pesquisa"  class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="2023" required>
           
    </form>
                
                </div>
            {{flash()}}
            
            <div class="flex gap-2 items-center justify-start"> 
               {%if quantidade >0 %}   <div class="rounded-lg py-1 px-2 bg-green-800 w-max"><p class="text-sm text-white">Entradas: {{quantidade}}</p></div>{%endif%}
                  {%if soma >0 %}   <div class="rounded-lg py-1 px-2 bg-green-800 w-max"><p class="text-sm text-white">Soma de todas entradas: {{soma}} produtos</p></div>{%endif%}
                  {%if edicao >0 %}  <div class="rounded-lg py-1 px-2 bg-green-800 w-max"><p class="text-sm text-white">Edições: {{edicao}}</p></div>{%endif%}
            </div>

               <div class="relative  shadow-md sm:rounded-lg  overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Produto
                </th>
                <th scope="col" class="px-6 py-3">
                    Local
                </th>
                <th scope="col" class="px-6 py-3">
                    Quantidade
                </th>
                <th scope="col" class="px-6 py-3">
                    Data
                </th>
                <th scope="col" class="px-6 py-3">
                    Ação
                </th>
            </tr>
        </thead>
        <tbody>
            {%for registro in registros%}
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {% set produtoNome= '' %}
                    {% for produto in produtos %}
                        {% if produto.id == registro.produto_id %}
                            {% set produtoNome = produto.nome %}
                         
                        {% endif %}
                    {% endfor %}
                   <a href="{{url('produtos/'~registro.produto_id)}}" class="hover:text-blue-500">{{maiuscula(slug(produtoNome))  }}</a></td>
             <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"> {% set localNome = '' %}
                    {% for local in locais %}
                        {% if local.id == registro.local_id %}
                            {% set localNome = local.nome %}
                          
                        {% endif %}
                    {% endfor %}
                    <a href="{{url('local/'~registro.local_id)}}" class="hover:text-blue-500">{{maiuscula(slug(localNome))  }}</a>
                </td>
             
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                 {{registro.quantidade}}
                </td>
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                   {{registro.data_hora}}
                </td>
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                   <a href="{{url('entrada/editar/'~registro.id)}}" class="w-6 h-6 flex items-center justify-center rounded-full bg-blue-400">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" class="bi bi-pencil" viewBox="0 0 16 16">
  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
</svg>
                  </a>
                </td>
               
            </tr>
        {%endfor%}
          
        </tbody>
    </table>
</div>
             <nav class='flex items-center justify-center my-2 '>
  <ul class="flex -space-x-px text-sm">
      {% if paginaAtual > 1 %}
    <li>
      <a href="?pagina={{ paginaAtual - 1 }}" class="flex items-center justify-center px-3 h-8 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Anterior</a>
    </li>
    {% endif %}
    {% for pagina in 1..totalPaginas %}
    <li>
      <a href="?pagina={{ pagina }}" class="flex items-center justify-center px-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">{{ pagina }}</a>
    </li>
{% endfor %}
      {% if paginaAtual < totalPaginas %} 
<li>
      <a href="?pagina={{ paginaAtual + 1 }}" class="flex items-center justify-center px-3 h-8 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Próxima</a>
    </li>
    {% endif %}
  </ul>
</nav>
        </div>
        </div>
    </div>



{% endblock %}