{%extends 'base.html'%}
{% block conteudo %}
<div class=" w-full  p-5  justify-start ">
    <a href="#" class="mb-3 text-white font-medium hover:text-gray-600">Produtos</a>
    <div class=" w-full   justify-center items-start gap-8 overflow-y-scroll   " style="max-height:80vh;">
        <div class=" w-full flex flex-col juntify-center gap-3">
            
            <div class="flex gap-3  w-full items-center justify-center"> <a href="{{url('produtos/produto_cadastrar')}}" class=" text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5  dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Cadastrar</a>
                <form class="relative w-full" action="{{url('buscarProdutos')}}" method="post">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
        </div>
        <input type="search" id="pesquisa" name="pesquisa"  class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Dipirona" required>
           
    </form>
                </div>
               {{flash()}}
              <div class="flex gap-2 items-center justify-start"> 
              {%if quantidade >0 %}     <div class="rounded-lg py-1 px-2 bg-green-800 w-max"><p class="text-sm text-white">Produtos: {{quantidade}}</p></div> {%endif%}  
                 
                  {%if edicao >0 %}     <div class="rounded-lg py-1 px-2 bg-green-800 w-max"><p class="text-sm text-white">Edições: {{edicao}}</p></div>{%endif%}  
                  {%if deletado >0 %}      <div class="rounded-lg py-1 px-2 bg-green-800 w-max"><p class="text-sm text-white">Deletados: {{deletado}}</p></div>{%endif%}  
            </div>


      <div class="relative  shadow-md sm:rounded-lg overflow-x-auto ">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              
              <th scope="col" class="px-6 py-3">Nome</th>
              <th scope="col" class="px-6 py-3">Fabricante</th>
              <th scope="col" class="px-6 py-3">Embalagem</th>
               <th scope="col" class="px-6 py-3">Tipo</th>
                <th scope="col" class="px-6 py-3">Fornecedor</th>
                 <th scope="col" class="px-6 py-3">Modelo</th>
                <th scope="col" class="px-6 py-3">Estoque</th>
                <th scope="col" class="px-6 py-3">Lote</th>
                <th scope="col" class="px-6 py-3">Validade</th>{% if usuario().nivel_acesso >2 %}
                   <th scope="col" class="px-6 py-3">Ação</th>{% endif %}
            </tr>
          </thead>
          <tbody>
              {%for produto in produtos%}
         
              <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
             
                  <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"> <a href="{{ url('produtos/'~produto.slug~'/'~produto.id) }}" class="hover:text-blue-500">{{maiuscula(slug(produto.nome))}}</a> </td>
              <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{maiuscula(slug(produto.fabricante))}}</td>
                            <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{maiuscula(produto.tipo_embalagem)}}</td>
              <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{maiuscula(produto.tipo_produtos)}}</td>
               <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{maiuscula(produto.fornecedor)}}</td>
               <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white" >{{maiuscula(produto.modelo)}}</td>
              <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{produto.quantidade_estoque}}</td>
              
              <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{produto.lote}}</td>
              <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{produto.validade}}</td>{% if usuario().nivel_acesso >2 %}
              <td scope="row" class="px-6 py-4 flex gap-1 font-medium text-gray-900 whitespace-nowrap dark:text-white"><a href="{{url('produtos/editar/'~produto.id)}}" class="w-6 h-6 flex items-center justify-center rounded-full bg-blue-400">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" class="bi bi-pencil" viewBox="0 0 16 16">
  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
</svg>
                  </a>
                  <button type="button" data-modal-target="popup-modal" data-modal-toggle="popup-modal"  class="w-6 h-6 flex items-center justify-center rounded-full bg-red-400">
                   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
</svg>
                  </button>
              </td>
              {% endif%}
            </tr>
              <div id="popup-modal" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="popup-modal">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="p-6 text-center">
                <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                </svg>
                <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Você realmente deseja deletar  {{usuario.nome}}?</h3>
                <a href="{{url('produtos/deletar/'~produto.id)}}" data-modal-hide="popup-modal"  class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                   Sim, tenho certeza
                </a>
                <button data-modal-hide="popup-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Não, cancelar</button>
            </div>
        </div>
    </div>
</div>
            
              {%endfor%}
           
          </tbody>
        </table>
      </div>
            <nav class='flex items-center justify-center my-2 '>
  <ul class="flex -space-x-px text-sm">
      {% if paginaAtual > 1 %}
    <li>
      <a href="?pagina={{ paginaAtual - 1 }}" class="flex items-center justify-center px-3 h-8 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Anterior</a>
    </li>
    {% endif %}
    {% for pagina in 1..totalPaginas %}
    <li>
      <a href="?pagina={{ pagina }}" class="flex items-center justify-center px-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">{{ pagina }}</a>
    </li>
{% endfor %}
      {% if paginaAtual < totalPaginas %} 
<li>
      <a href="?pagina={{ paginaAtual + 1 }}" class="flex items-center justify-center px-3 h-8 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Próxima</a>
    </li>
    {% endif %}
  </ul>
</nav>
        </div>
        </div>
    </div>



{% endblock %}